:root {
  --c-primary: #03b038;
  --c-secondary: #0B3147;
  --bs-body-font-family: 'IRx', Tahoma, sans-serif;
}

body {
  font-family: var(--bs-body-font-family);
  direction: rtl;
  text-align: right;
  background-color: #fff;
  color: var(--c-secondary);
}

.navbar-nav .nav-link {
  color: var(--c-secondary);
}

.navbar-nav .nav-link.active {
  font-weight: bold;
}

footer {
  background-color: var(--c-secondary);
  color: #fff;
}

@media (max-width: 991.98px) {
  .navbar-nav {
    text-align: center;
  }
}
