/* General Style */
p{
    font-family: IRx;
}


h2{
    font-size: 1rem;
}
h3, .h3{
    font-size: .9rem;
}

.hide {
    display: none;
}

.ltr{
    direction: ltr !important;
}
.mtt3{
    margin-top: 120px;
}
.c{
    width: 100%;
    height: 48px;
    border: 1px solid #E9EBEC;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 13px 16px;
    text-align: center;
}
.loader .circle-loader{
    background-image: url('../img/loader.gif');
    background-size: cover;
    display: block;
    width: 60px;
    height: 60px;
}
.tag-skill-item{
    background-color: #E9EBEC;
    font-size: 11px;
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 5px;
    margin-bottom: 8px;
    transition: .3s;
    display: inline-block;
    /*
    //float: right;
    */
}
.tag-skill-item:hover{
    background-color: #e8f1f1;
    transition: .3s;
    cursor: pointer;
}
.modal-backdrop {
    background: #0B3147;
}
.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #F4F5F5;
    border-top-right-radius: calc(.3rem - 1px);
    border-top-left-radius: calc(.3rem - 1px);
}
.modal-content{
    box-shadow: 0px 20px 40px rgba(11, 49, 71, 0.05);
    border-radius: 10px;
    border: none;
}
.wiki-alert{
    padding: 8px 16px;
    width: 100%;
    min-height: 44px;
    border-radius: 10px;
    line-height: 28px;
}
.wiki-alert_info{
    background: #EFF8FA;
}
.wiki-alert_warning{
    background: #FEF2EC;
    color: #F1742D;
}
.wiki-alert_success{
    background: #EFFAF3;
    color: var(--c-primary);
}
.wiki-btn_dark:hover{
    cursor: pointer;
}
/* font size*/
.border_1{
    border: 1px solid #E9EBEC !important;
}
.bob-s_small{
    font-size: rem;
}
.bob-s_small1{
    font-size: 13px;
}
.bob-s_normal1{
    font-size: 15px;
}




/* btn size*/
.bob-btn_med{
    width: 160px;
    height: 55px;
}
.bob-btn_small{
    height: 36px;
    font-size: var(--font-s-smallx);
}
/* btn text*/
.bob-txt_s{
    color: var(--c-secondary);
}

/* Base Style */





/* Tags Class */
.wiki-tag_img-profile{
    width: 95px;
    height: 95px;
    border-radius: 50%;
}
.wiki-tag_title_tip1{
    margin-bottom: 48px;
    font-size: 23px;
    font-weight: 600;
}
.wiki-tag_title_tip2{
    margin-bottom: 24px;
    font-size: 16px;
}
.wiki-tag_subTitle_tip1{
    font-size: 16px;
    padding-top: 16px;
    font-weight: 400;
}
.wiki-icon_btn_tip1{
    width: 255px;
    height: 80px;
    background: #FFFFFF;
    border: 1px solid #CDEFD7;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 27px 22px;
    text-align: center;


}
.wiki-icon_btn_tip1 .icon{
    display: inline-block;
    width: 26px;
    height: 26px;
    vertical-align: middle;
}
.wiki-icon_btn_tip1 .text{
    font-size: 16px;
    padding-right: 15px;
}

.wiki-btn_white_tip1{
    padding: 17px;
    height: 56px;
    background: #FFFFFF;
    /* sh-low */
    box-shadow: 0px 5px 10px rgba(11, 49, 71, 0.1);
    border-radius: 10px;
    text-align: center;
    transition: .3s;

}
.wiki-btn_white_tip1:hover{
    box-shadow: 0 5px 10px rgba(11, 49, 71, 0.2);
    transition: .3s;

}
.wiki-btn_white_tip1 .icon{
    display: inline-block;
    width: 26px;
    height: 26px;
    vertical-align: middle;
}
.wiki-btn_white_tip1 .text{
    padding-right: 10px;
}
/* btn */
.wiki-btn{
    transition: .2s;
}
.wiki-btn:hover{
    cursor: pointer;
    transition: .2s;
}
.wiki-btn_dark{
    padding: 17px;
    background: var(--c-secondary);
    border-radius: 10px;
    color: var(--c-wh);
    display: inline-block;
    text-align: center;
    transition: .3s;
}
.wiki-btn_danger{
    padding: 10px;
    background: #F1742D;
    border-radius: 10px;
    color: var(--c-wh);
    display: inline-block;
    text-align: center;
    transition: .3s;
}
.wiki-btn_disable{
    padding: 10px;
    background: #9EADB6;
    border-radius: 10px;
    color: var(--c-wh);
    display: inline-block;
    text-align: center;
    transition: .3s;
}
.wiki-btn_dark:hover{
    box-shadow: 0 20px 40px rgba(11, 49, 60, 0.2);
    color: var(--c-wh);
    transition: .3s;
}

.wiki-btn_outline_dark{
    padding: 13px;
    display: inline-block;
    text-align: center;
    border: 1px solid var(--c-gray1);
    box-sizing: border-box;
    border-radius: 10px;
    transition: .2s;
}
.wiki-btn_outline_dark:hover{
    transition: .2s;
    background-color: var(--c-primary);
    color: var(--c-wh);
}
.wiki-btn_white{
    background: #FFFFFF;
    border: 1px solid var(--c-gray1);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 13px;
    display: inline-block;
    text-align: center;
    transition: .2s;
}
.wiki-btn_white:hover{
    color: var(--c-wh);
    transition: .2s ease-in-out;
    background-color: var(--c-secondary);
}
.wiki-btn_primary{
    padding: 13px;
    background: var(--c-primary);
    border-radius: 10px;
    color: var(--c-wh);
    display: inline-block;
    text-align: center;
    transition: .2s;
}

.wiki-btn_primary.disable{
    background-color: #9ADFAF !important;
}
.wiki-btn_primary:hover{
    cursor: pointer;
    background-color: var(--c-primary0);
    transition: .2s;
    color: #fff;
}

.wiki-btn-block{
    width: 100% !important;
}
.wiki-input_main{
    padding: 19px 24px;
    background: var(--c-wh);
    border: 1px solid var(--c-gray1);
    box-sizing: border-box;
    border-radius: 10px;
    line-height: 22px;
    color: var(--c-secondary2);
    transition: .3s;
}

.wiki-input_main:focus{
    box-shadow: 0px 20px 40px rgba(11, 49, 71, 0.1);
    border-radius: 10px;
    border: 1px solid var(--c-gray1) !important;
    transition: .3s;
}
.main-nav{
    min-height: 112px;
    width: 100%;
    display: grid;
}
.main-nav .wiki-btn_auth {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px;
    width: 148px;
    height: 48px;
    border: 1px solid #CED6DA;
    box-sizing: border-box;
    border-radius: 10px;
    transition: .3s;

}
.main-nav .wiki-btn_auth{
    position: relative;
}
.main-nav .wiki-btn_auth .icon {
    position: relative;
    width: 18px;
    height: 18px;
    left: 7px;
    bottom: 3px;
}

.wiki-header_main .nav-link:hover{
    color: var(--c-primary);
    transition: .2s ease-in-out;
}
.wiki-btn_auth .text {
    position: relative;
    width: 88px;
    height: 22px;
    right: 4px;
    font-size: 14px;
    line-height: 22px;
}
.main-nav .wiki-img_logo{
    background: url('../img/logo.png') no-repeat center;
    background-size: contain;
    display: block;
    height: 48px;
    width: 107px;
}
.rowAdvisers .item .item-name{
    margin-top: 25px;
    font-weight: 500;
}
.main-nav .navbar-nav{
    min-width: 580px;
    height: 22px;
    top: 13px;
    margin-right: 80px;
}
.main-nav .navbar-nav .nav-item{
    min-width: 65px;
    padding-left: 25px;
    height: 22px;
    font-size: 14px;
    line-height: 8px;
}
.wiki-page_home .box-header {
    position: relative;
    width: 100%;
    height: 701px;
    background: linear-gradient(0deg, rgba(9, 39, 57, 0.4), rgba(9, 39, 57, 0.4)), url('../img/des/hero-bg.png') no-repeat center;
    background-size:  cover;
}
.wiki-page_home .box-header .main-nav .nav-link{
    color: var(--c-wh) !important;
}
.wiki-page_home .box-header .main-nav .wiki-btn_auth{
    background-color: var(--c-secondary1);
    border: none;
    color: var(--c-wh) !important;
}
.wiki-page_home .box-header .main-nav .wiki-btn_auth:hover{
    transition: .3s;
    background-color: var(--c-secondary2);
}
.wiki-page_home .box-header .titles .title{
    position: relative;
    font-size: 2rem;
    text-align: right;
    top: 135px;
    color: var(--c-wh);
}
.wiki-page_home .box-header .titles .sub_title{
    position: relative;
    font-size: 1.15rem;
    text-align: right;
    top: 160px;
    color: var(--c-gray1);
}
.wiki-page_home .box-header .wiki-box_guide{
    position: relative;
    width: 100%;
    height: 324px;
    margin: auto;
    top: 241px;
    background: #FFFFFF;
    box-shadow: 0px 40px 60px rgba(9, 39, 57, 0.05);
    border-radius: 10px;
    padding: 32px;
}
.wiki-page_home .box-header .wiki-box_guide .header{
}

.wiki-link_tip1 .icon{
    display: inline-block;
    height: 22px;
    width: 22px;
    vertical-align: middle;
}

.wiki-page_home .box-header .wiki-box_guide .search input{
    margin-top: 24px;
    width: 100%;
    height: 60px;
}
.wiki-page_home .box-header .wiki-box_guide .search a {
    width: 112px;
    height: 48px;
    position: absolute;
    left: 6px;
    top: 30px;
}
.wiki-page_home .category  {
    display: grid;
    height: 72px;
    grid-template-columns: repeat(4, 20%);
    grid-column-gap: 5%;
    margin-top: 48px;
}
.wiki-page_home .category .bg-item {
    background-repeat: no-repeat;
    background-position: center;
    width: 196px;
    height: 72px;
    border-radius: 10px;
    display: grid;
    align-content: center;
    text-align: center;
    font-size: 16px;
    color: var(--c-wh);
    transition: .3s;
}
.wiki-page_home .category .bg-item:hover{
    box-shadow: 0 20px 40px rgba(11, 49, 71, 0.4);
    transition: .3s;

}
.wiki-page_home .category .item .icon{
    display: inline-block;
    height: 22px;
    width: 22px;
    vertical-align: middle;
    margin-left: 5px;
}
.wiki-page_home .category .item.wiki-link_tip1 {
    display: grid;
    justify-content: left;
    align-content: center;
    grid-template-columns: auto auto;
}


/* whyWiki section */
.whyWiki{
    margin-top: 146px;
    margin-bottom: 64px;
}
.whyWiki .item{
    padding: 29px 32px 29px 60px;
    width: 100%;
    height: 265px;
    background: #FFFFFF;

    border: 1px solid #CDEFD7;
    box-sizing: border-box;
    border-radius: 10px;
}
.whyWiki .item .item-title{
    margin: 26px 0 24px 0;
    background: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}
.whyWiki .item .item-desc {
    margin: 36px 0 24px 0;
    background: #FFFFFF;
    color: #9EADB6;
}
.whyWiki .item .item-icon{
    display: block;
    height: 40px;
    width: 40px;
    background-size: contain;
}

/* rowAdvisers section */
.rowAdvisers{
    min-height: 527px;
    width: 100%;
    padding: 64px 0;
}

.rowAdvisers .item{
    width: 255px;
    height: 250px;
    background: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    padding: 24px;
    transition: .2s;
}
.rowAdvisers-tip2 .item{
    border: 1px solid #F4F5F5;
    box-sizing: border-box;
    border-radius: 10px;
}

.rowAdvisers .item:hover{
    filter: drop-shadow(0px 40px 40px rgba(11, 49, 71, 0.09));
}

.rowAdvisers .item .item-tag-online{
    position: absolute;
    padding: 3px;
    font-size: 14px;
    width: 42px;
    height: 25px;
    color: var(--c-primary);
    background: #EFFAF3;
    box-shadow: 0px 5px 10px rgba(11, 49, 71, 0.1);
    border-radius: 99px;
    left: 82px;
    bottom: -12px;
}

.rowAdvisers .item-skill, .wiki-card_adviser .item-skill{
    font-size: 13px;
    font-style: normal;
    color: var(--c-secondary1);
    margin-top: 8px;
}

.rowAdvisers .item-show-btn{
    width: 180px;
    height: 48px;
    margin-top: 22px;
}

.fa-star.checked {
    color: var(--c-primary);
}
.fa-star{
    color: var(--c-gray1);
}
.features{
    padding: 120px 0;
}
.features .title{
    margin-bottom: 48px;
    font-size: var(--font-s-large);
}
.features .item-img{
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100%;
    position: relative;
    top: 35px;
}
.features  .item{
    display: grid;
    grid-template-columns: 10% 90%;
    align-content: center;
    margin-top: 24px;
}
.features .item .item-icon{
    width: 35px;
    height: 35px;
    background-size: contain;
    display: grid;
    align-content: center;
}
.features .item .item-name{
    font-size: 16px;
    color: var(--c-secondary);
}
.features .item .item-desc {
    font-size: 13px;
    color: var(--c-secondary2);
    margin-top: 8px;
}

.customer-comments .item{
    width: 100%;
    height: 263px;
    border: 1px solid #CDEFD7;
    box-sizing: border-box;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 75% 25%;
    padding: 32px;
}
.customer-comments .item-icon span{
    width: 26px;
    height: 19px;
    display: block;
}
.customer-comments .item-desc p{
    color: var(--c-secondary1);

}
.customer-comments .item-desc .item-name-tag{
    font-size: 13px;
    color: var(--c-secondary1);
    position: absolute;
    bottom: 0;
}
.howGetAdviser .nav-pills{
    display: grid;
    grid-template-columns: repeat(4, 22%);
    grid-column-gap: 4%;
}
.howGetAdviser .nav-item .nav-link{
    display: block;
    width: 100%;
    height: 72px;
    background: #FFFFFF;
    border: 1px solid #E9EBEC;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: right;
    font-size: 16px;

}
.howGetAdviser .nav-item .nav-link:hover{
    color: inherit;
}
.howGetAdviser .nav-item .nav-link.active{
    background: #EFFAF3;
    border: 1px solid var(--c-primary);
    color: var(--c-secondary);
}
.howGetAdviser .nav-item .nav-link .number {
    width: 40px;
    height: 40px;
    background: #F4F5F5;
    border-radius: 99px;
    display: inline-block;
    float: right;
    font-size: 16px;
    line-height: 41px;
    text-align: center;
}
.howGetAdviser .nav-item .nav-link.active .number {
    background: var(--c-primary);
    color: #fff;
    filter: drop-shadow(0px 10px 20px rgba(3, 176, 56, 0.4));

}
.howGetAdviser .nav-item .nav-link .text{
    position: relative;
    top: 8px;
    right: 15px;
}
.howGetAdviser .item-image{
    width: 100%;
    height: 540px;
    text-align: center;
    background: linear-gradient(180deg, #F4F5F5 0%, #DCE2E5 100%);
    border-radius: 9999px;
}
.howGetAdviser .item-image img{
    position: relative;
    top: 60px;
    filter: drop-shadow(0px 20px 40px rgba(11, 49, 71, 0.1));

}
.howGetAdviser  .desc{
    color: var(--c-secondary1);
}
.howGetAdviser .wiki-btn{
    display: inline-block;
    padding: 17px;
    width: 212px;
    height: 56px;
    margin-top: 110px;
    background: #0B3147;
    border-radius: 10px;
}
.howGetAdviser .wiki-btn .item-icon{
    display: inline-block;
    width: 22px;
    height: 22px;
    vertical-align: middle;
    margin-right: 8px;
}
.article h2{
    color: var(--c-secondary);
    padding: 50px 0 15px 0;
}
.article p{
    color: var(--c-secondary2);
    line-height: 32px;
}
.article img{
    width: 100% !important;
    height: 100% !important;
}
/*.article video{
    width: 100%;
}*/

.article li {
    line-height: 32px;
    color: var(--c-secondary2);
}
.article ul li {
    list-style-type: disc;
}
.article ol li {
    list-style-type: inherit;
}
.article ol{
    margin-top: 25px;
}
.article ul{
    margin: 25px;
}
.show_more:hover{
    cursor: pointer;
}
.faqs .accordion-item{
    background: #FFFFFF;
    border: 1px solid #F4F5F5;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 16px 0;
    padding: 10px 15px;
}
.faqs .accordion-button{
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: none;
    border: none;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 5px;
}

.faqs .accordion-body {
    font-size: 13px;
    color: var(--c-secondary2);
    line-height: 28px;
    border-top: 1px solid #F4F5F5;
    margin-top: 6px;
    padding: 10px 5px;

}
.faqs .accordion-button::after {
    border-radius: 8px;
    display: inline-block;
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.05);
    border: 1px solid #eee;
    width: 32px;
    height: 32px;
    background-position: center;
    color: #000;
    background-size: 1.15rem;

}
.rowArticles .item{
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #F4F5F5;
    box-sizing: border-box;
    border-radius: 10px;
    display: block;
    transition: .3s;
}
.rowArticles .item:hover{
    border: 1px solid #F4F5F5;
    box-shadow: 0 20px 40px rgba(11, 49, 71, 0.05);
    transition: .3s;
}
.rowArticles .item:hover .item-title{
    color: var(--c-primary);
    transition: .3s;

}
.rowArticles .item .item-img img{
    width: 100%;
    height: 180px;
    border-radius: 10px 10px 0 0;
}
.rowArticles .item .item-title{
    color: var(--c-secondary);
    font-size: 18px;
    font-weight: 500;
    height: 70px;
}
.rowArticles .item .item-desc{
    height: 90px;
}
.rowArticles .item .item-desc p{
    color: var(--c-secondary2);
    line-height: 28px;
}
.contact .wiki-link_tip1 .text{
    color: var(--c-secondary);

}
.contact .wiki-link_tip1 .icon{
    width: 24px;
    height: 24px;
    display: inline-block;
    color: var(--c-secondary);
    margin-left: 20px;
}
.footer .item-title{
    font-size: 16px;
    color: var(--c-secondary);
    margin-bottom: 24px;
    font-weight: 500;
}
.footer .item-about{
    color: var(--c-secondary1);
    padding-left: 20px ;
    text-align: justify;
}

.footer .nav .nav-link{
    color: var(--c-secondary2);
    list-style-type: none;
    margin-bottom: 16px;
    padding: 0;
    transition: .3s;

}
.footer .nav .nav-link:hover{
    transition: .3s;
    color: var(--c-primary);

}
.footer .nav .nav-item{
    list-style-type: none;
}
.copy-right{
    text-align: center;
    border-top: 1px solid #CED6DA;
    padding: 20px 0;
    color: var(--c-gray);
}
form .newsForm input{
    padding: 4px 16px 4px 4px;
    background: #F4F5F5;
    border: 1px solid #CED6DA;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    height: 48px;
    color: var(--c-secondary2);
    text-align: right;
    margin-top: 10px;
}
form .newsForm .btn {
    background: var(--c-gray1);
    border: 1px solid #CED6DA;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: var(--font-s-small);
    height: 40px;
    width: 112px;
    color: var(--c-wh);
    text-align: center;
    position: absolute;
    left: 4px;
    top: 14px;
    line-height: 25px;
    transition: .3s;

}
form .newsForm .btn:hover {
    transition: .3s;
    box-shadow: 0px 20px 40px rgba(3, 176, 56, 0.4);
    background: var(--c-primary);
}
.move-to-top {
    width: 48px;
    height: 48px;
    background: #FFFFFF;
    box-shadow: 0 20px 40px rgb(11 49 71 / 5%);
    border-radius: 10px;
    font-size: 2rem;
    color: #0B3147;
    text-align: center;
    line-height: 20px;
    padding: 5px 0;
    vertical-align: middle;
    float: left;
    position: absolute;
    bottom: 25px;
    left: 13px;
    transition: .3s;

}
.move-to-top:hover {
    cursor: pointer;
    box-shadow: 0px 20px 40px rgba(37, 37, 59, 0.2);
    transition: .3s;
}

/* new page */
.wiki-header_sub{
    width: 100%;
    height: 235px;
    background-color: #F4F5F5;
    padding-top: 30px;

}
.wiki-header_sub .title{
    font-size: 18px;
    color: var(--c-secondary);
    padding-bottom: 40px;
}
.wiki-header_sub .search .wiki-input_main {
    margin-top: 25px;
    width: 100%;
    height: 60px;
}
.wiki-header_sub .search a{
    width: 112px;
    height: 48px;
    position: absolute;
    left: 6px;
    top: 31px;
}
.wiki-header_sub .wiki-link_tip1 .icon{
    width: 20px;
    height: 20px;
    background-size: cover !important;
}
.wiki-cart_specialist{
    height: 166px;
    background: #FFFFFF;
    border: 1px solid #F4F5F5;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 15px 0;
    transition: .2s ease-in-out;

}

.wiki-cart_specialist:hover .footer{
    background-color: var(--c-secondary);
    transition: .2s ease-in-out;

}
.wiki-cart_specialist:hover .footer .wiki-link_tip1{
    color: #fff;
    transition: .2s ease-in-out;

}
.wiki-cart_specialist:hover .header .content .title{
    color: var(--c-primary);
    transition: .2s ease-in-out;

}
.wiki-cart_specialist .header .icon-tag{
    width: 72px;
    height: 72px;
    background: #F4F5F5;
    border-radius: 50%;
    display: grid;
    justify-content: center;
    align-content: center;
}
.wiki-cart_specialist .header .icon-tag .icon{
    width: 45px;
    height: 45px;
    display: block;
}
.wiki-cart_specialist .header{
    display: grid;
    grid-template-columns: 20% 80%;
    height: 128px;
    padding: 26px 25px;

}
.wiki-cart_specialist .header .content .title{
    font-size: var(--font-s-small);
    color: var(--c-secondary);
    transition: .2s ease-in-out;

}
.wiki-cart_specialist .header .content .desc{
    font-size: 12px;
    color: var(--c-secondary1);
}
.wiki-cart_specialist .footer{
    width: 100%;
    height: 40px;
    background: #F4F5F5;
    border-radius: 0 0 10px 10px;
    padding: 7px 30px;
    transition: .2s ease-in-out;
}

.wiki-card_adviser{
    width: 100%;
    min-height: 264px;
    background: #FFFFFF;
    border: 1px solid #F4F5F5;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 31px 0;
}
.wiki-card_adviser .header{
    width: 100%;
    padding: 32px 32px 26px 32px;

}
.wiki-card_adviser .header .item-rate span.fa{
    font-size: 13px;
}
.wiki-card_adviser .info {
    display: grid;
    grid-template-columns: 70% 30%;
    float: left;
    text-align: left;
}
.wiki-card_adviser .info .icon{
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}
.wiki-card_adviser .info .text{
    font-size: 13px;
    color: var(--c-secondary1);
}
.wiki-card_adviser .desc p{
    font-size: 12px;
    color: var(--c-secondary2);
}
.wiki-card_adviser .footer{
    min-height: 70px;
    width: 100%;
    background: #F4F5F5;
    border-radius: 0px 0px 10px 10px;
    display: grid;
    align-content: center;
    padding: 11px;
}
.wiki-card_adviser .footer .tag{
    font-size: var(--font-s-small);
    color: var(--c-secondary1);
    float: right;
    padding: 14px 20px;
}
.wiki-card_adviser .footer .price{
    font-size: 16px;
    color: var(--c-primary);
    float: right;
    padding: 12px 0;
}
.filter.sidebar .side-item{
    min-height: 122px;
    background: #FFFFFF;
    border: 1px solid #E9EBEC;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 20px;
}
.filter.sidebar .side-item:first-child{
    margin-top: 56px;
}
.filter.sidebar .side-item:first-child .title{
    border-bottom: none !important;
}
.filter.sidebar .side-item .title{
    color: var(--c-secondary1);
    padding: 16px;
    border-bottom: 1px solid #E9EBEC;
    display: block;
    font-size: 16px;
}
.form-check-input.primary.large{
    width: 22px;
    height: 22px;
}
.form-check-input.primary:checked {
    background-color: var(--c-primary);
    border-color: var(--c-primary);
}
.form-check-input.primary:focus {
    border-color: var(--c-primary);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(3 176 56 / 25%);
}
.form-check-input.primary {
    background: #F4F5F5;
    /* Dark Prim/200 */

    border: 1px solid #9EADB6;
    box-sizing: border-box;
    border-radius: 5px;
}
.filter.sidebar .side-item .content {
    padding: 16px;
}
.filter.sidebar .side-item .content label {
    padding-right: 15px;
    font-weight: 500;
    line-height: 28px;
}
.filter.sidebar .side-item .content .form-check {
    margin: 8px 0;
}

.filter.sidebar .side-item .content .select2-selection{
    height: 48px;
    font-size: 14px;
    line-height: 40px;
    padding: 12px;
    border: none;
    background-color: #F4F5F5;
    border-radius: 10px;
    font-weight: 600;
}
.filter.sidebar .side-item .content .select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
    left: 15px;
    right: auto;
    top: 11px;
}

.select2-dropdown {
    background-color: #f4f5f5;
    border: 1px solid #f4f5f5;
    border-radius: 10px;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #fafafa;
    border-radius: 10px;
}

/* single */
.wiki-header_sub.single{
    min-height: 335px;
}
.wiki-single_tabs .nav-link{
    margin-left: 15px;
    text-align: center;
    color: var(--c-secondary2);
}
.wiki-single_tabs .nav-link.active{
    border-bottom: 2px solid var(--c-primary);
    background-color: transparent;
    color: var(--c-secondary);
    border-radius: 0;

}

/* wiki-reserve_cart_step1 */

.wiki-reserve_cart_step1{
    width: 350px;
    height: 399px;
    left: 165px;
    top: 236px;
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(11, 49, 71, 0.05);
    border-radius: 10px;
}


.wiki-reserve_cart_step1 header{
    padding: 17px 24px;
    border: 1px solid #E9EBEC;
}
.wiki-reserve_cart_step1 section{
    padding: 17px 24px;
}

.wiki-btn-primary_h{
    padding: 6px;
    width: 140px;
    height: 32px;
    background: #EFFAF3;
    border-radius: 5px;
    line-height: 20px;
    text-align: right;
    color: var(--c-primary);
    display: block;
    float: left;
    transition: .3s;
}

.wiki-btn-primary_h i {
    border: 1px solid #549e6b;
    border-radius: 50%;
    padding: 3px;
    width: 17px;
    height: 17px;
    font-size: 10px;
    margin-left: 10px;
    text-align: center;
}
.wiki-btn-primary_h:hover{
    cursor: pointer;
    background: #e2fdeb;
    transition: .3s;
}
.wiki-reserve_cart_step1 .reserve-immediate {
    height: 62px;
    width: 302px;
    border: 1px solid #E9EBEC;
    box-sizing: border-box;
    border-radius: 10px;
}
.wiki-reserve_cart_step1 .reserve-immediate {
    height: 62px;
    width: 302px;
    border: 1px solid #E9EBEC;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px 15px;
}
.wiki-reserve_cart_step1 .form-check-input[type=radio] {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 0 0 0 10px;
}

.wiki-reserve_cart_step1 .form-check-input:checked {
    background-color: var(--c-primary) ;
    border-color: inherit;
}
.wiki-reserve_cart_step1 .form-check-input:focus {
    border: none;
    outline: 0;
    box-shadow: none;
}
.wiki-reserve_cart_step1 .reserve-online{
    width: 302px;
    height: 200px;
    border: 1px solid #E9EBEC;
    box-sizing: border-box;
    border-radius: 10px;
}

/* reserve modal */
.reserve-meeting_info{
    width: 196px;
    height: 92px;
    border: 1px solid #E9EBEC;
    box-sizing: border-box;
    border-radius: 10px;
    float: right;
    margin-left: 15px;
    transition: .3s;
}
.reserve-meeting_info.active , .reserve-meeting_info_day.active, .reserve-meeting_info_time.active{
    border: 1px solid var(--c-primary) !important;
}

.reserve-meeting_info:hover ,.modal.reserve .reserve-meeting_info_day:hover, .modal.reserve .reserve-meeting_info_time:hover, .modal.reserve .reserve-meeting_info_pack:hover{
    border: 1px solid var(--c-primary);
    transition: .2s;
    cursor: pointer;
}


.reserve-meeting_info .footer ,.reserve-meeting_info_pack .footer{
    border-top : 1px solid #E9EBEC;
}
.modal.reserve  .modal-footer {
    border-top: none;
    display: block;
    padding-bottom: 20px;
}
.modal.reserve .modal-footer .item_name{
    font-size: 13px;
    line-height: 20px;
    color: #3C5A6C;
    padding: 6px 10px;
    width: 124px;
    height: 28px;
    background: #E9EBEC;
    border-radius: 5px;
    text-align: center;
}
.modal.reserve .reserve-meeting_info_day {
    min-width: 96px;
    height: 60px;
    float: right;
    padding: 10px 12px;
    margin-left: 15px;
    margin-top: 15px;
    border: 1px solid #E9EBEC;
    box-sizing: border-box;
    border-radius: 10px;
    transition: .2s;

}
.modal.reserve .reserve-meeting_info_time{
    width: 125px;
    height: 36px;
    border: 1px solid #E9EBEC;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px 16px;
    transition: .2s;
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
}
.modal.reserve .reserve-meeting_info_day:hover .day ,.modal.reserve .reserve-meeting_info_time:hover .time{
    color: var(--c-primary);
    transition: .2s;
}
.reserve-meeting_info_day.active .day, .reserve-meeting_info_time.active .time{
    color: var(--c-primary);
    transition: .2s;
}
.modal.reserve .reserve-meeting_info_pack {
    width: 100%;
    height: 141px;
    border: 1px solid #E9EBEC;
    box-sizing: border-box;
    border-radius: 10px;
    float: right;
    margin-bottom: 20px;
}
.modal.reserve .reserve-meeting_info_pack.active {
    border: 2px solid var(--c-primary);
}


.invoice {
    width: 1110px;
    height: 640px;
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(11, 49, 71, 0.05);
    border-radius: 10px;
    position: relative;
    bottom: 135px;
}
.invoice header{
    height: 74px;
    display: grid;
    grid-template-columns: 50% 50%;
}
.invoice header .nav-item{
    padding: 24px;
    color: var(--c-gray1);
}
.invoice header .nav-item.active{
    border-bottom: 2px solid var(--c-secondary);
    color: var(--c-secondary);

}

.wiki-btn-light_tip2.active{
    background: #EFFAF3;
    border: 1px solid var(--c-primary);
    color: var(--c-primary);
}
.wiki-btn-light_tip2.active{
    background: #EFFAF3;
    border: 1px solid var(--c-primary);
    color: var(--c-primary);
}
.wiki-btn-light_tip2{
    border: 1px solid #E9EBEC;
    border-radius: 10px;
    display: inline-block;
    float: right;
    text-align: center;
    color: var(--c-secondary);
    min-width: 120px;
    min-height: 40px;
    line-height: 37px;
    margin-left: 15px;
}

/* auth */
.auth .icon-input{
    width: 35px;
    height: 22px;
    border-left: 1px solid #ced6da;
    display: block;
    /* background-color: red; */
    position: absolute;
    right: 15px;
}
.auth .icon-input span{
    width: 22px;
    height: 22px;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-left: 15px; */
    top: 52px;
    /* padding: 9px; */
    right: 15px;
}

.float-end.share li {
    float: right;
    margin: 0 10px;
}
.float-end.share li .icon {
    display: block;
    width: 18px;
    height: 18px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}
.err_discount{
    position: absolute;
    padding: 2px 5px;
    font-size: 10px;
    margin: 4px;
}

/* profile */

.meet {
    width: 100%;
    border-radius: 10px;
    border-top: 1px solid #eee;
    height: 27px;
    margin: 25px 0;
    padding: 25px 12px 45px;
}

.meet .title{
    display: block;
    font-size: 15px;
    font-weight: 500;
}
.meet .advname{
    position: relative;
    top: 10px;
    font-size: 13px;
}

.suggest-search{
    width: 100%;
    background-color: #F4F5F5;
    min-height: 115px;
    position: absolute;
    border: 1px solid #CED6DA;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 5px;
    padding: 16px 24px;
    max-height: 176px;
    overflow: hidden;
    z-index : 1000
}
.suggest-search .suggest{
    color: #03b038;
    display: block;
    margin-bottom: 10px;
}
.article[data-readmore] {
    transition: height 800ms;
    overflow: hidden;
}

/* modules */
/* searchable selecet*/
.chosen-container-single .chosen-single {
    font-size: 14px;
    padding: 0 0 0 8px;
    background: #F4F5F5 !important;
    height: 48px;
    line-height: 47px;
    border: none;
    box-shadow: none;
    padding-right: 15px;
}
.chosen-container-single .chosen-single div {
    top: 12px;
    left: 10px;
}
.showLoader{
    display: block !important;
}


.owl-carousel .owl-prev, .owl-carousel .owl-next {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    background: #fff !important;
    /* sh-low */
    box-shadow: 0 5px 10px rgba(11, 49, 71, 0.1);
    border-radius: 99px;
    z-index: 10000;
}
.owl-carousel .owl-next {
    left: -5px !important;
}
.owl-carousel .owl-prev {
    right: -5px !important;
}
.owl-prev i.iccc, .owl-next i.iccc{
    background-image: url('../img/iccc/CaretLeft.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    display: block;
    color: #0B3147;
}
.owl-prev i.iccc{
    transform: rotate(-90deg);
}
.owl-next i.iccc{
    transform: rotate(90deg);
}

.top-notification {
    width: 100%;
    height: 48px;
    left: 0px;
    top: 0px;
    padding-top: 13px;
    background: #096466;
    color: #fff;
    font-weight: 200;
}
.top-notification a{
    color: #fff;
    border-bottom: 1px solid #eee;
}

/* dashboard */
.dashboard{
    position: relative;
    bottom: 114px;
}
.dashboard .nav{
    width: 100%;
    min-height: 160px;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(11, 49, 71, 0.05);
    position: relative;
    padding: 15px 0px;
    display: block;
}
.dashboard .nav li {
    font-size: 15px;

}

.dashboard .nav li a {
    width: 100%;
    display: block;
    padding: 11px 20px;
    color: var(--c-secondary1);



}

.dashboard .nav li:hover a{
    color: var(--c-primary) !important;
    background-color: #fafafa;


}
.dashboard .nav span {
    padding-left: 15px;
    vertical-align: middle;
    color: var(--c-secondary1);
}
.dashboard .content{
    width: 100%;
    min-height: 160px;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(11, 49, 71, 0.05);
    position: relative;
}
.amar{
    width: 100%;
    height: 79px;
    border-top: 1px solid #eee;
    border-radius: 10px;
    position: relative;
}
.amar .icon{
    width: 25%;
    height: 100%;
    border-radius: 10px;
    font-size: 30px;
    position: relative;
    top: 21px;
    text-align: center;
    color: #3c5a6c;
}
.amar .tag{
    font-size: 14px;
    font-weight: 700;

}
.amar .count {
    position: absolute;
    top: 43px;
    right: 67px;
    font-size: 16px;
}

.meet {
    width: 100%;
    border-radius: 10px;
    border-top: 1px solid #eee;
    height: 27px;
    margin: 25px 0;
    padding: 25px 12px 45px;
}

.meet .title{
    display: block;
    font-size: 15px;
    font-weight: 500;
}
.meet .advname{
    position: relative;
    top: 10px;
    font-size: 13px;
}

/* adviser */
.wiki_type_reserve .nav-link.active{
    border: 1px solid #03B038;
    box-sizing: border-box;
    box-shadow: 0px 5px 10px rgba(11, 49, 71, 0.1);
    border-radius: 10px;
    color: #03B038;
    background-color: #fff !important;
    z-index: 10000;
    position: relative;
}
.wiki_type_reserve .nav-link{
    border: 1px solid var(--c-gray1);
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #fff !important;
}

.comment{
    padding: 25px 0;
    border-bottom: 1px solid #E9EBEC;
}
.comment-rate .fa-star{
    position: relative;
    top: 3px;
}
.comment{
    padding: 30px 0;
    border-bottom: 1px solid #E9EBEC;
}
.not-login-for-comment{
    width: 100%;
    height: 122px;
    border: 1px solid #eee;
    padding: 24px;
    border-radius: 10px;
}
.comment-replay{
    padding-right: 45px;
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #E9EBEC;

}
.comment-replay .icon{
    width: 24px;
    height: 24px;
    background-color: #F4F5F5;
    position: absolute;
    right: 0;
}
.star-rating {
    line-height:32px;
    font-size:1.25em;
}
.submit-comment input{
    height: 40px;
    padding: 15px;
}
.submit-comment textarea , .submit-comment input{
    background-color: #F4F5F5;
    border: none;
    box-shadow: none;
    padding: 15px;
    font-size: 14px;


}
.submit-comment textarea:focus , .submit-comment input:focus{
    box-shadow: none;
    border: none;
    background-color: #F4F5F5;

}

.star-rating .fa-star{color: var(--c-primary);}

.info-box-10{
    background: #FFFFFF;
    /* Dark Prim/100 */
    border: 1px solid #CED6DA;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 8px 16px;
    margin-bottom: 18px;
}


/* login*/
.auth{
    width: 360px;
    height: 100%;
    margin: auto
}

.auth .google-btn {
    width: 166px;
    height: 48px;
    left: 653px;
    top: 628px;
    margin: 32px auto;
    color: var(--c-secondary1);
    background: #FFFFFF;
    border-radius: 10px;
    line-height: 50px;
    text-align: center;
}
.auth .form{
    padding: 34px 24px 24px;
}
.auth .input{
    width: 100%;
    height: 48px;
    /* border-color */
    border: 1px solid #E9EBEC;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 13px 16px;
    text-align: center;
}
.auth .input:focus{
    border: 1px solid rgba(34, 32, 32, 0.2);
}
.auth .google-btn .icon {
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 6px;
}

/* ge */

.wiki-cart_specialist .header{
    border-radius: 10px 10px 0 0;
}

.wiki-cart_specialist:hover .header{
    border: 1px solid var(--c-secondary);
    transition: .2s;
}
.form-check-input.reserve-radio:checked{
    border: none !important;
}
.box-header{
    background-color: #fff;
}
.auth .form{
    min-height: 200px;
    width: 100%;
    background: #FFFFFF;
    /* sh1 */
    box-shadow: 0px 20px 40px rgba(11, 49, 71, 0.05);
    border-radius: 10px;
    padding: 34px 24px 24px;
}
.alert-gift{
    width: 100%;
    height: 60px;
    background: #EFFAF3;
    line-height: 55px;
}
.alert-gift .icon{
    background-repeat: no-repeat;
    background-size: contain;
    width: 17px;
    height: 17px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    bottom: 2px;
}

.auth{
    width: 360px;
    height: 100%;
    margin: auto
}
.auth-page-box{
    margin-top: 5%;
}
.auth .google-btn {
    width: 166px;
    height: 48px;
    left: 653px;
    top: 628px;
    margin: 32px auto;
    color: var(--c-secondary1);
    background: #FFFFFF;
    border-radius: 10px;
    line-height: 50px;
    text-align: center;
}

.auth .input{
    width: 100%;
    height: 48px;
    /* border-color */
    border: 1px solid #E9EBEC;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 13px 16px;
    text-align: left;
}
.auth .input:focus{
    border: 1px solid rgba(34, 32, 32, 0.2);
}
.auth .google-btn .icon {
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 6px;
}
.auth .icon-eye{
    background-image: url('../img/des/icons/Eye.svg');
    width: 25px;
    height: 25px;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    border-left: 1px solid #ced6da;
    /* margin-left: 15px; */
    top: 52px;
    /* padding: 9px; */
    right: 15px;
}
.auth .show-email{
    min-width: 172px;
    height: 48px;
    left: -178px;
    top: -55px;
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(11, 49, 71, 0.05);
    border-radius: 10px;
    text-align: center;
    line-height: 48px;
}

input.valid {
    border: 1px solid #02b038 !important;
    color: #02b038 !important;
}
input.notValid {
    border: 1px solid #f91818 !important;
    color: #000 !important;
}

.auth .nickname input{
    text-align: right;
    padding-right: 61px !important;
}

.dashboard{
    position: relative;
    bottom: 114px;
}
.dashboard .nav{
    width: 100%;
    min-height: 160px;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(11, 49, 71, 0.05);
    position: relative;
    padding: 15px 0px;
    display: block;
}
.dashboard .nav li {
    font-size: 15px;

}

.dashboard .nav li a {
    width: 100%;
    display: block;
    padding: 11px 20px;
    color: var(--c-secondary1);



}

.dashboard .nav li:hover a{
    color: var(--c-primary) !important;
    background-color: #fafafa;


}
.dashboard .nav span {
    padding-left: 15px;
    vertical-align: middle;
    color: var(--c-secondary1);
}
.dashboard .content{
    width: 100%;
    min-height: 160px;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(11, 49, 71, 0.05);
    position: relative;
}
.amar{
    width: 100%;
    height: 79px;
    border: 1px solid #eee;
    border-radius: 10px;
    position: relative;
}
.amar .icon{
    width: 25%;
    height: 100%;
    border-radius: 10px;
    font-size: 30px;
    position: relative;
    top: 21px;
    text-align: center;
    color: #3c5a6c;
}
.amar .tag{
    font-size: 14px;
    font-weight: 700;

}
.amar .count {
    position: absolute;
    top: 43px;
    right: 67px;
    font-size: 16px;
}
.meet {
    width: 100%;
    border-radius: 10px;
    border-top: 1px solid #eee;
    height: 27px;
    margin: 25px 0;
    padding: 25px 12px 45px;
}

.meet .title{
    display: block;
    font-size: 15px;
    font-weight: 500;
}
.meet .advname{
    position: relative;
    top: 10px;
    font-size: 13px;
}
.single-invoice {
    width: 100%;
    border-top: 1px solid #eee;
    min-height: 50px;
    padding: 25px 0px;
    margin: 0;
}

.single-invoice .title{
    display: block;
    font-size: 18px;
    font-weight: 700;
}
.invoice .advname{
    position: relative;
    top: 6px;
    font-size: 13px;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.spinner .text{
    font-size: 20px !important;
    color: var(--c-primary);
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: var(--c-primary);
    margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}
@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.tab-content h2 {
    font-size: 1.2rem;
}
